langchain>=0.3.18
langchain-core>=0.3.28
langchain-community>=0.3.18
langchain-groq>=1.1.2
openai>=1.59.8
pypdf>=5.1.0
python-docx>=1.1.2
python-dotenv>=1.0.1
pydantic>=2.10.4
requests>=2.32.3
black>=24.10.0
pytest>=8.3.4
ipython>=8.31.0
notebook
jupyterlab
pinecone-client
langchain-pinecone
langgraph
sentence-transformers>=3.3.1
langchain-huggingface>=0.1.2
fastapi>=0.115.6
uvicorn>=0.34.0
python-multipart
streamlit>=1.41.1